<div class="bar bar-header bar-light">
  <h1 class="title">Your Tenants <i class="icon ion-plus" style="text-align:right" ng-click="TenantsVM.newTenant()"></i></h1>
</div>
<ion-view>
  <ion-content class="has-header">
    <div ng-repeat="tenant in TenantsVM.tenants">
      <div class="card">
        <div class="item item-text-wrap">
          <h2 class="street">{{tenant.property_id[0].streetAddress}}</h2>
          <h4 class="citystatezip">{{tenant.property_id[0].city}}, {{tenant.property_id[0].state}} {{tenant.property_id[0].zip}}</h4>
          <br>
          <h4 class="citystatezip">Tenant: {{tenant.firstName}} {{tenant.lastName}}</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<div class="tabs-striped tabs-color-calm">
  <div class="tabs">
    <a class="tab-item" ui-sref="properties">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item active" ui-sref="tenants">
      <i class="icon ion-ios-people"></i>
      Favorites
    </a>
    <a class="tab-item" ui-sref="requests">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
    <a class="tab-item" ui-sref="inbox">
      <i class="icon ion-archive"></i>
      Settings
    </a>
    <a class="tab-item" ui-sref="userProfile">
      <i class="icon ion-person"></i>
      Settings
    </a>
  </div>
</div>
