<ion-view view-title="Sign-In">
  <ion-content>
    <div class="">
      <h5 class="signintitle">Sign In</h5>
    </div>

    <div class="row signinform">
      <div class="col col-70 col-offset-15">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" name="email" placeholder="Email Address" ng-model="SigninVM.userInfo.email">
          </label>
          <label class="item item-input">
            <input type="password" name="password" placeholder="Password" ng-model="SigninVM.userInfo.password">
          </label>
        </div>

        <button class="button button-calm button-block center-button" ng-click="SigninVM.continue()">
          SIGN IN
        </button>

        <button ng-click="SigninVM.signup()" class="signup">Don't have an account? Sign up now.</button>
      </div>
    </div>
  </ion-content>
</ion-view>
