<div class="bar bar-header bar-light">
<h1 class="title">Your Properties <i class="icon ion-plus" style="text-align:right" ng-click="PropertiesVM.newProperty()"></i></h1>
</div>
<ion-view class="app-body">
  <ion-content class="has-header">
    <div class="noPropBody" ng-if="PropertiesVM.properties == null">No properties to view.<br> <a ui-sref="newProperty">Add one now</a>.</div>
    <div ng-repeat="property in PropertiesVM.properties" class="propcard row">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="col col-50">
            <h2 class="street">{{property.streetAddress}}</h2>
            <h4 class="citystatezip">{{property.city}}, {{property.state}} {{property.zip}}</h4>
          </div>
          <div class="col col-50">
            <div ng-repeat="tenant in property.tenants">
              <h4 class="citystatezip">{{tenant.firstName}} {{tenant.lastName}}</h4>
            </div>
            <br>
          </div>
          <div class="propimagebox" >
            <img class="propimage" src="{{property.img}}"/>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<div class="tabs-striped tabs-color-calm">
  <div class="tabs">
    <a class="tab-item active" ui-sref="properties">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" ui-sref="tenants">
      <i class="icon ion-ios-people"></i>
      Favorites
    </a>
    <a class="tab-item" ui-sref="requests">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
    <a class="tab-item" ui-sref="messages">
      <i class="icon ion-archive"></i>
      Settings
    </a>
    <a class="tab-item" ui-sref="userProfile">
      <i class="icon ion-person"></i>
      Settings
    </a>
  </div>
</div>

