<div class="bar bar-header bar-light">
  <h1 class="title">Add a New Request </h1>
</div>
<ion-view class="app-body">
  <ion-content class=" has-header">
    <p class="bodyText">Please enter the details of your new property.</p>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" name="title" placeholder="Title" ng-model="NewRequestVM.reqInfo.title">
      </label>
      <label class="item item-input">
        <input type="text" name="description" placeholder="Description" ng-model="NewRequestVM.reqInfo.description">
      </label>
    </div>

    <button class="button button-default button-block center-button" ng-click="NewRequestVM.propContinue()">
      ADD REQUEST
    </button>
    <br>
    <p class="bodyText link" ui-sref="trequests">Return to Your Requests</p>
  </ion-content>
</ion-view>
