.app-body{
  margin-top: 0 0 100px 0;
}

.noPropBody {
  text-align: center;
}

.bar-header {
  color: #ffffff !important;
}

.bar {
  color: #ffffff !important;
}

.title h1 {
  color: #ffffff !important;
}
